{% extends 'base.html.twig' %}

{% block title %}Connexion Admin
{% endblock %}

{% block stylesheets %}
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}

{% block body %}
	<main id="login">
		<section class="widthDesktop lastSection">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Bonjour
						{{ app.user.nom }}, vous êtes déjà connecté.
						<br>
						Pour vous déconnecter, cliquez sur
																	"<a href="{{ path('app_logout') }}">Déconnexion</a>".
					</div>
				{% endif %}

				<h1>Connexion</h1>
				<div class="connexionForm">
					<label for="username">E-mail :</label>
					<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus></div>
				<div class="connexionForm">
					<label for="password">Mot de passe :</label>

					<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
				</div>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
											            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
											            See https://symfony.com/doc/current/security/remember_me.html
											
											            <div class="checkbox mb-3">
											                <input type="checkbox" name="_remember_me" id="_remember_me">
											                <label for="_remember_me">Remember me</label>
											            </div>
											        #}

				<button class="btnOk" type="submit">
					Connexion
				</button>
				<p>
					Mot de passe oublié ?
					<a href="{{path('app_forgotten_password')}}">Je réinitialise mon mot de passe.</a>
				</p>
			</form>

		</section>
	</main>
{% endblock %}
