{% extends 'base.html.twig' %}
{% block metaTag %}
	<meta name="Accueil" content="Les Ruchers des Gobelins produisent du miel 100% local normand dans le respect des abeilles et de la biodiversité.">
{% endblock %}

{% block title %}Apiculteur Normand 100% local 100% respect des abeilles | Les Ruchers des Gobelins
{% endblock %}

{% block stylesheets %}
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}

{% block body %}
	<main
		id="home">
		{#  section titre #}
		<section class="titre">

			<h1>Les Ruchers des Gobelins</h1>

			<p class="accroche">Nos abeilles sont chouchoutées pour produire du miel local de qualité</p>

			<div class="imagesTitre">
				<div class="dfCenter">
					<div class="arrow-d">
						<img src="{{asset('./img/arrow-d.webp')}}" alt="arrow"></div>
					<div class="arrow-m">
						<img src="{{asset('./img/arrow-m.webp')}}" alt="arrow"></div>
				</div>
				<div class="dfCenter">
					<div class="imageTitre">
						<img src="{{asset('./img/abeilles-alveoles-500px-d.webp')}}" alt="bees"></div>
				</div>
			</div>

		</section>
		{# fin section titre #}

		{#  section présentation #}
		<section class="presentation backgroundImage">
			<div class="widthDesktop">
				<h2>Présentation</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/portrait-stephane-300px.webp')}}" alt="apiculteur">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Je m’appelle Stéphane GOBE et je suis apiculteur dans l’Eure, en Normandie, depuis 2022. 
					<br><br>
					Je n’ai découvert l’apiculture que depuis récemment, mais j’ai été piqué par cette passion. Aujourd’hui, je suis en reconversion afin de devenir professionnel. 
					<br><br>
					Mon but est de produire ici, en Normandie, des produits de la ruche de qualité. Tout cela, dans le respect des abeilles. 
					<br><br>
					Vous trouverez sur ce site, des informations sur mon installation, sur les évolutions de mon parcours et sur les produits disponible à la vente.
					</p>
					{# fin texte #}
				</div>
				{# image geoportail #}
				<div class="dfCenter mapGeoportail">
					<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="https://www.geoportail.gouv.fr/embed/visu.html?c=1.3044431899716489,49.08707339636089&z=11&l0=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN25TOUR.CV::GEOPORTAIL:OGC:WMTS(1)&v1=ADMIN_EXPRESS::GEOPORTAIL:GPP:TMS(1)&l2=GEOGRAPHICALNAMES.NAMES::GEOPORTAIL:OGC:WMTS(1)&d3=5200741(1)&permalink=yes" allowfullscreen></iframe>
				</div>
				{# fin image geoportail #}
			</div>
		</section>
		{# fin section présentation #}

		{# section histoire #}
		<section class="histoire">
			<div class="widthDesktop">
				<h2>Histoire, valeurs et missions</h2>

				<p>Après avoir travaillé 23 ans dans l’industrie, en 2022, je me suis retrouvé face à un choix. J’ai eu besoin de redonner du sens à ce que je faisais tous les jours. Assez naturellement, je me suis tourné vers l’apiculture, discipline à la fois technique et tournée vers le vivant et la nature. 
				<br><br>
				Après un passage par une formation au Syndicat d’Apiculture de l’Eure, j’ai rencontré un apiculteur professionnel qui m’a énormément appris et que je considère aujourd’hui comme mon mentor. 
				<br><br>
				En 2023, j’ai acquis quelques ruches afin de mettre en application ce que j’avais appris. 
				<br><br>
				En 2024, je développe mon cheptel avec pour but d’avoir environ 60 à 70 essaims fin 2024.</p>
				{# valeurs #}
				<div class="imgMobile">
					<img src="{{asset('./img/abeille-fleur-300px.webp')}}" alt="abeille sur une fleur">

				</div>
				<div class="dfCenter valeurs">
					<div>

						{# 1ère ligne #}
						<div class="texteValeurs ligne1Valeurs">
							<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
							<p>Valeur 1</p>
						</div>

						{# fin 1ère ligne #}
						{# 2ème ligne #}
						<div class="ligne2Valeurs">
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 2</p>
							</div>
							<div class="imgDesktop">
								<img src="{{asset('./img/abeille-fleur-300px.webp')}}" alt="abeille sur une fleur">

							</div>
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 3</p>
							</div>
						</div>
						{# fin 2ème ligne #}
						{# 3ème ligne #}
						<div class="ligne3Valeurs">
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 4</p>
							</div>
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 5</p>
							</div>
						</div>
						{# fin 3ème ligne #}
					</div>
					{# fin valeurs #}
				</div>
			</div>
		</section>
		{# fin section histoire #}

		{# section produits #}
		<section class="produits backgroundImage">
			<div class="widthDesktop">
				<h2>Produits</h2>
				<div
					class="texteImg">

					{# texte #}

					<p>
						Actuellement, je propose un miel de printemps savoureux et sucré. C’est un miel de colza et d’aubépine principalement. À partir de cet automne, je pourrai proposer du miel de fleur d’été. J’aurai par exemple du miel de ronce et du miel de châtaignier, voire un mélange des deux.
						<br><br>
						Il s'agit d'un miel issu de mes ruches, situées dans l'Eure en Normandie et mis en pot manuellement par mes soins.
						<br><br>
						Je souhaite aussi utiliser le miel pour des produits tel que le pain d’épices ou vinaigre de miel.
						<br><br>
						A moyen terme, je souhaite aussi vendre des essaims aux apiculteurs amateurs afin qu’ils découvrent cette belle activité qu’est l’apiculture. 
						</p>

					{# fin texte #}
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/produit-300px.webp')}}" alt="pot de miel">

						</div>
					</div>
					{# fin image #}
				</div>
			</div>
		</section>

		{# fin section produits #}

		{# section process #}
		<section class="process">
			<div class="widthDesktop">
				<h2>Processus de production</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/rayon-miel-300px.webp')}}" alt="Rayon de miel">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Aujourd’hui, je travaille avec des abeilles Buckfast. Ces abeilles sont sélectionnées pour leur douceur, leur production de miel et sont bien adaptées à notre climat tempéré. <br><br>
					Je suis adepte du modèle d’apiculture extensive avec des ruchers d’environ 20 ruches. Je ne pratique pas de transhumance, mais je ne ferme pas la porte si cela se fait dans de bonnes conditions. <br><br>
					Je fais moi même l’extraction et la mise en pot du miel. 
					</p>
					{# fin texte #}

				</div>
			</div>
		</section>
		{# fin section process #}

		{# section articles #}
				<section class="articles backgroundImage">
			<div class="widthDesktop">
				<h2>Derniers articles</h2>
				<div class="cards small">
					{% for blog in blogs | slice(0) %}
						<div class="card">
							<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
								<div class="imgCard">
									<img src="../uploads/blog/{{ blog.image }}" alt="{{blog.titre}}">
								</div>
							</a>
							<div class="texteCard">
								<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
									<div class="enteteTexteCard">
										<div class="titreTexteCard">
											<h3>{{ blog.titre }}</h3>
										</div>
									</div>
								</a>
								<div class="btnDf">
									<a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btnOk">Lire</a>
								</div>
							</div>
						</div>

					{% else %}
						<p>Aucun article proposé aujourd'hui</p>
					{% endfor %}

				</div>

			</div>
		</section>
		{# fin section articles #}
	</main>
{% endblock %}
