{% extends 'base.html.twig' %}
{% block metaTag %}
	<meta name="Accueil" content="Les Ruchers des Gobelins produisent du miel 100% local normand dans le respect des abeilles et de la biodiversité.">
{% endblock %}

{% block title %}Apiculteur Normand 100% local 100% respect des abeilles | Les Ruchers des Gobelins
{% endblock %}

{% block stylesheets %}
	
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}

{% block body %}
	<main
		id="home">
		{#  section titre #}
		<section class="entete">
			<div class="accroche">
				<h1>Les Ruchers des Gobelins</h1>
				<p>Nos abeilles sont chouchoutées pour produire du miel local de qualité</p>
			</div>


		</section>
		{# fin section titre #}

		{#  section présentation #}
		<section class="presentation backgroundImage">
			<div class="widthDesktop">
				<h2>Présentation</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/portrait-stephane-300px.webp')}}" alt="apiculteur">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Je m’appelle Stéphane GOBE et je suis apiculteur dans l’Eure, en Normandie, depuis janvier 2023.
						<br><br>
						Je n’ai découvert l’apiculture que récemment, mais j’ai été piqué par cette passion. Aujourd’hui, je suis en reconversion afin de devenir professionnel.
						<br><br>
						Mon but est de produire ici, en Normandie, des produits de la ruche de qualité. Tout cela, dans le respect des abeilles.
						<br><br>
						Vous trouverez sur ce site, des informations sur mon installation, mon parcours et sur les produits disponible à la vente.
					</p>
					{# fin texte #}
				</div>
				{# image geoportail #}
				<div class="dfCenter mapGeoportail">

									{# <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="https://www.geoportail.gouv.fr/embed/visu.html?c=1.3044431899716489,49.08707339636089&z=11&l0=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN25TOUR.CV::GEOPORTAIL:OGC:WMTS(1)&v1=ADMIN_EXPRESS::GEOPORTAIL:GPP:TMS(1)&l2=GEOGRAPHICALNAMES.NAMES::GEOPORTAIL:OGC:WMTS(1)&d3=5200741(1)&permalink=yes" allowfullscreen></iframe> #}
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10457.277697380487!2d1.4052113428841095!3d49.061562665569454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6cadad6fff843%3A0xd1809d223fccc053!2s1%20Rue%20de%20la%20Cr%20Marette%2C%2027950%20La%20Heuni%C3%A8re!5e0!3m2!1sfr!2sfr!4v1726739084508!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				{# fin image geoportail #}
			</div>
		</section>
		{# fin section présentation #}

		{# section histoire #}
		<section class="histoire">
			<div class="widthDesktop">
				<h2>Histoire, valeurs et missions</h2>

				<p>Après avoir travaillé 23 ans dans l’industrie, en 2022, je me suis retrouvé face à un choix. J’ai eu besoin de redonner du sens à ce que je faisais tous les jours. Assez naturellement, je me suis tourné vers l’apiculture, discipline à la fois technique et tournée vers le vivant et la nature.
					<br><br>
					Après un passage par une formation au Syndicat d’Apiculture de l’Eure, j’ai rencontré un apiculteur professionnel qui m’a énormément appris et que je considère aujourd’hui comme mon mentor.
					<br><br>
					En 2023, j’ai acquis quelques ruches afin de mettre en application ce que j’avais appris.
					<br><br>
					En 2024, j'ai développé mon cheptel pour avoir aujourd'hui 54 ruches.</p>
				{# valeurs #}
				<div class="imgMobile">
					<img src="{{asset('./img/ruches-foret-300px.webp')}}" alt="ruches en forêt">

				</div>
				<div class="dfCenter valeurs">
					<div>

						{# 1ère ligne #}
						<div class="texteValeurs ligne1Valeurs">
							<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
							<p>Valeur 1</p>
						</div>

						{# fin 1ère ligne #}
						{# 2ème ligne #}
						<div class="ligne2Valeurs">
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 2</p>
							</div>
							<div class="imgDesktop">
								<img src="{{asset('./img/ruches-foret-300px.webp')}}" alt="abeille sur une fleur">

							</div>
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 3</p>
							</div>
						</div>
						{# fin 2ème ligne #}
						{# 3ème ligne #}
						<div class="ligne3Valeurs">
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 4</p>
							</div>
							<div class="texteValeurs">
								<div><img src="{{asset('./img/arrow-50px.webp')}}" alt="tourbillon"></div>
								<p>Valeur 5</p>
							</div>
						</div>
						{# fin 3ème ligne #}
					</div>
					{# fin valeurs #}
				</div>
			</div>
		</section>
		{# fin section histoire #}

		{# section produits #}
		<section class="produits backgroundImage">
			<div class="widthDesktop">
				<h2>Produits</h2>
				<div
					class="texteImg">

					{# texte #}

					<p>
						Les gobelins vous proposent différents types de miel. Du miel de printemps, doux et sucré, à base de nectar de colza et d’aubépine principalement. Du miel d’été, avec des goûts plus prononcés et fruités. On peut retrouver du miel de chataignier et sa légère amertume, du miel de ronce, léger et plus clair, ou du miel foncé très particulier, comme le miel de sarrasin. 
						<br><br>
						En hiver, les gobelins vous proposent aussi du pain d'épice.
						<br><br>
						Pour les personnes qui souhaitent découvrir l’apiculture, ou agrandir leur cheptel, il est possible d’acheter des essaims hivernés.
						<br><br>
						Dans tous les cas, n’hésitez pas à nous contacter pour plus d’information.
					</p>

					{# fin texte #}
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/produit-300px.webp')}}" alt="pot de miel">

						</div>
					</div>
					{# fin image #}
				</div>
			</div>
		</section>

		{# fin section produits #}

		{# section process #}
		<section class="process">
			<div class="widthDesktop">
				<h2>Processus de production</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/abeilles-processus-300px.jpeg')}}" alt="abeilles">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Aujourd’hui, je travaille avec des abeilles Buckfast. Ces abeilles sont sélectionnées pour leur douceur, leur production de miel et sont bien adaptées à notre climat tempéré.
						<br><br>
						Je suis adepte du modèle d’apiculture extensive avec des ruchers d’environ 20 ruches. Je ne pratique pas de transhumance pour le moment.
						<br><br>
						L’extraction et la mise en pot du miel sont faites directement chez nous.
					</p>
					{# fin texte #}

				</div>
			</div>
		</section>
		{# fin section process #}

		{# section articles #}
		<section class="articles backgroundImage lastSection">
			<div class="widthDesktop">
				<h2>Derniers articles</h2>
				<div class="cards small">
					{% for blog in blogs | slice(0) %}
						<div class="card">
							<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
								<div class="imgCard">
									<img src="../uploads/blog/{{ blog.image }}" alt="{{blog.titre}}">
								</div>
							</a>
							<div class="texteCard">
								<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
									<div class="enteteTexteCard">
										<div class="titreTexteCard">
											<h3>{{ blog.titre }}</h3>
										</div>
									</div>
								</a>
								<div class="btnDf">
									<a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btnOk">Lire</a>
								</div>
							</div>
						</div>

					{% else %}
						<p>Aucun article proposé aujourd'hui</p>
					{% endfor %}

				</div>

			</div>
		</section>
		{# fin section articles #}
	</main>
{% endblock %}


