{% extends 'base.html.twig' %}

{% block title %}
	{{ blog.titre }}
	| Les Ruchers des Gobelins
{% endblock %}

{% block stylesheets %}
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}
{% block body %}
	<main id="blogArticle">
		<section class="entete widthDesktop">


			<h1>{{ blog.titre }}</h1>
			<p class="slug">
				{{ blog.sousTitre }}
			</p>

			<div class="image">
				<img src="../uploads/blog/{{ blog.image }}" alt="{{ blog.image }}"></div>
		</section>
		<section class="texte widthDesktop">
			<p class="article">
				{{ blog.article | raw }}
			</p>

			<a class="btnBack" href="{{ path('app_blog_index') }}">Retour</a>

			{# <table class="table">
												        <tbody>
												            <tr>
												                <th>Id</th>
												                <td>{{ blog.id }}</td>
												            </tr>
												            <tr>
												                <th>Titre</th>
												                <td>{{ blog.titre }}</td>
												            </tr>
												            <tr>
												                <th>Image</th>
												                <td>{{ blog.image }}</td>
												            </tr>
												            <tr>
												                <th>SousTitre</th>
												                <td>{{ blog.sousTitre }}</td>
												            </tr>
												            <tr>
												                <th>Article</th>
												                <td>{{ blog.article }}</td>
												            </tr>
												            <tr>
												                <th>createdAt</th>
												                <td>{{ blog.createdAt ? blog.createdAt|date('d-m-Y') : '' }}</td>
												            </tr>
												        </tbody>
												    </table> #}


		</section>
	</main>

{% endblock %}
