{% extends 'base.html.twig' %}

{% block title %}
	{{ blog.titre }}
	| Les Ruchers des Gobelins
{% endblock %}

{% block stylesheets %}
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}
{% block body %}
	<main id="blogArticle">
		<section class="entete widthDesktop">


			<h1>{{ blog.titre }}</h1>
			<p class="slug">
				{{ blog.sousTitre }}
			</p>

			<div class="image">
				<img src="../uploads/blog/{{ blog.image }}" alt="{{ blog.image }}"></div>
		</section>
		<section class="texte widthDesktop">
			<p class="article">
				{{ blog.article | raw }}
			</p>

			<a class="btnBack" href="{{ path('app_blog_index') }}">Retour</a>
		</section>
		<section class="articles backgroundImage">
			<div class="widthDesktop">
				<h2>Derniers articles</h2>
				<div class="cards small">
					{% for blog in blogs | slice(0) %}
						<div class="card">
							<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
								<div class="imgCard">
									<img src="../uploads/blog/{{ blog.image }}" alt="{{blog.titre}}">
								</div>
							</a>
							<div class="texteCard">
								<a href="{{ path('app_blog_show', {'id': blog.id}) }}">
									<div class="enteteTexteCard">
										<div class="titreTexteCard">
											<h3>{{ blog.titre }}</h3>
										</div>
									</div>
								</a>
								<div class="btnDf">
									<a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btnOk">Lire</a>
								</div>
							</div>
						</div>

					{% else %}
						<p>Aucun article proposé aujourd'hui</p>
					{% endfor %}

				</div>

			</div>
		</section>
	</main>

{% endblock %}
